/* Sección Valor Único */
.seccion-valor-unico{
padding:60px 20px;
background-color:#ffffff;
color:#34520D;
font-family:'Saira SemiCondensed', sans-serif;
}

/* Título */
.seccion-valor-unico h2{
font-size:50px;
font-weight:600;
margin-bottom:50px;
color:#34520D;
}

/* Párrafos */
.seccion-valor-unico p{
font-size:18px;
line-height:1.7;
margin-bottom:20px;
color:#000;
max-width:90%;
}

/* Imagen */
.valor-img{
width:90%;
height:auto;
display:block;
margin:20px auto;
border-radius:15px;
box-shadow:0 10px 20px rgba(0,0,0,0.2);
transition:transform .3s ease, box-shadow .3s ease;
}

.valor-img:hover{
transform:scale(1.05);
box-shadow:0 20px 30px rgba(0,0,0,0.3);
}

/* Responsive */
@media (max-width:768px){

.seccion-valor-unico{
text-align:center;
}

.seccion-valor-unico h2{
font-size:24px;
}

.seccion-valor-unico p{
font-size:16px;
}

.valor-img{
width:100%;
margin-top:20px;
}

}